body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}
h1 {
    text-align: center;
    color: #007acc;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #000;
}
th {
    background-color: #007acc;
    color: #007acc;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.button {
    background-color: #007acc;
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.button:hover {
    background-color: #005f99;
}
.centered{
    text-align: center !important;
    vertical-align: middle !important;
}


      /* Estilos CSS */
      .profile-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: flex;
        align-items: center; /* Alinear elementos verticalmente */
    }
    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 10px; /* Redondear las esquinas para que la imagen parezca cuadrada */
        margin-right: 20px; /* Espacio entre la imagen y el resto de los campos */
    }
    .profile-info {
        flex-grow: 1; /* Permitir que este div crezca para ocupar el espacio restante */
    }
    .profile-field {
        margin-bottom: 10px;
    }
    .profile-field label {
        display: block; /* Mostrar las etiquetas en una línea nueva */
        font-weight: bold;
        color: #007acc;

    }
    .profile-field input, .profile-field textarea {
        width: 100%; /* Hacer que los campos de entrada ocupen todo el ancho disponible */
        box-sizing: border-box; /* Incluir padding y borde en el ancho total */
    }
    