body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}
h1 {
    text-align: center;
    color: #007acc;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #000;
}
th {
    background-color: #007acc;
    color: #007acc;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.button {
    background-color: #007acc;
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.button:hover {
    background-color: #005f99;
}
.centered{
    text-align: center !important;
    vertical-align: middle !important;
}