<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especialista</title>
</head>
<body>
    <header>
        <div>
            <H1>Inicio</H1>
        </div>
    </header>
        <section class="wrapper">
            <section class="main">
                <nav>
                    <ul>
                        <li><a href="Perfil">Ver Perfil</a></li>
                        <li><a href="Lista_de_espera">Lista de Espera</a></li>
                        <li><a href="#">Cerrar Sesion</a></li>
                    </ul>
                </nav>
            </section>    
        </section>

        
        
</body>
<footer>
    <p>Footer de ejemplo</p>
</footer>
</html>