{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ver Informes</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Ver Informes</h1>
    </header>
    <main>
        <div class="container">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Paciente</th>
                            <th>Fecha</th>
                            <th>Tipo de Agenda</th>
                            <th>Profesional Encargado</th>
                            <th>Comentario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Giacomo Guillozzi</td>
                            <td>12/12/2023</td>
                            <td>Nutricionista</td>
                            <td>Susana</td>
                            <td>Texto de ejemplo</td>
                        </tr>
                        <tr>
                            <td>Giacomo Guillozzi</td>
                            <td>01/12/2023</td>
                            <td>Dentista</td>
                            <td>Miguel</td>
                            <td>Problemas con anestesia</td>
                        </tr>
                        <tr>
                            <td>Giacomo Guillozzi</td>
                            <td>19/11/2023</td>
                            <td>Médico General</td>
                            <td>Leonardo</td>
                            <td>Derivar a dentista</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="{% url 'menu_admin' %}" class="button">Volver</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Curador</p>
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
