{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvido su contraseña</title>
    <link href="{% static 'css/styleInicio.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>¿Olvido su contraseña?</h2>
        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Ingrese su correo electrónico" required>
            <div style="display: flex; justify-content: space-between;">
                <button type="submit" class="accept">Aceptar</button>
                <button type="button" class="cancel" onclick="window.location.href='{% url 'home' %}'">Cancelar</button>
            </div>
        </form>
    </div>
    <script src="{% static 'js/scriptInicio.js' %}"></script>
</body>
</html>
