{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link href="{% static 'css/styleInicio.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Registrar Usuario</h1>
        <form method="post">
            {% csrf_token %}
            {{ user_form.username.label_tag }} {{ user_form.username }}
            {{ user_form.email.label_tag }} {{ user_form.email }}
            {{ user_form.first_name.label_tag }} {{ user_form.first_name }}
            {{ user_form.last_name.label_tag }} {{ user_form.last_name }}
            {{ user_form.contraseña.label_tag }} {{ user_form.contraseña }}
            {{ user_form.confirmar_contraseña.label_tag }} {{ user_form.confirmar_contraseña }}
            {{ cliente_form.run.label_tag }} {{ cliente_form.run }}
            {{ cliente_form.nombre.label_tag }} {{ cliente_form.nombre }}
            {{ cliente_form.apellido_paterno.label_tag }} {{ cliente_form.apellido_paterno }}
            {{ cliente_form.apellido_materno.label_tag }} {{ cliente_form.apellido_materno }}
            {{ cliente_form.telefono.label_tag }} {{ cliente_form.telefono }}
            {{ cliente_form.fecha_nacimiento.label_tag }} {{ cliente_form.fecha_nacimiento }}
            {{ cliente_form.genero.label_tag }} {{ cliente_form.genero }}
            {{ cliente_form.prevision.label_tag }} {{ cliente_form.prevision }}
            <button type="submit" class="btn">Registrar</button>
        </form>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    </div>
    <script src="{% static 'js/scriptInicio.js' %}"></script>
</body>
</html>
