<!-- ReservaPDF.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Confirmación de Reserva</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 600px;
            padding: 20px;
            background: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Confirmación de Reserva</h1>
        <p>Número de Reserva: {{ reserva.numero_reserva }}</p>
        <p>Paciente: {{ reserva.paciente.username }}</p>
        <p>Especialista: {{ reserva.especialista }}</p>
        <p>Fecha: {{ reserva.fecha }}</p>
        <p>Hora: {{ reserva.hora }}</p>
        <p>Valor de la Consulta: {{ reserva.valor_consulta }}</p>
    </div>
</body>
</html>
